{% extends 'basechart_form.html' %}

{% block form %}
{{ super() }}

{% set aux_fields = [{'value': ''}] + fields %}

{{
    form.select('x_axis', label=_('X Axis'), options=fields,
        selected=resource_view['x_axis'], is_required=true)
}}

{{
    form.select('aux_label', label=_('Auxiliary label'), options=aux_fields,
        selected=resource_view['aux_label'], is_required=false)
}}

{{
    form.checkbox('show_legends', label=_("Show groups' legend"),
    value=True, checked=resource_view['show_legends'])
}}

{{
    form.checkbox('count_rows', label=_("Count Rows"),
    value=True, checked=resource_view['count_rows'])
}}
{% endblock %}
